<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">uniXerr's got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Eveything can be eveything and eveything can turn into an eveything else.</p>
                <a href="https://unixerr.com/blog/2020/01/28/main-idea-behind-uniXerr/" class="btn btn-default btn-xl">Read More!</a>
            </div>
        </div>
    </div>
</section>
